html,body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    padding-left: 250px;
    padding-right: 250px;
}

.header {
    padding-top: 32px;
    padding-bottom: 100px;
}

.nav__bar{
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.nav__item{
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    transition: color .3s ease;
}

.nav__item:hover {
    color: #000;
}

.header-line{
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.header__discription{
    margin-bottom: 30px;
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    margin-bottom: 17px;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}

.header__info{
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.header__vertical{
    margin-right: -28px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    transform: rotate(-90deg);
}

.RU {
    color: #828282;
}

.header__img{
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
}

.section__aboutMe{
    display: flex;
    background: #F6F6F6;
    padding-top: 120px;
    padding-bottom: 107px;
    text-align: center;
    justify-content: center;
   
}

.aboutMe__info {   
    width: 485px;
}

.About__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.about__info {
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;  
    color: #070707;
}

.section__adobe{
    text-align: center;
    padding-bottom: 110px;
}

.adobe__title{
    margin-top: 91px;
    margin-bottom: 71px;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: #070707;
}

.adobe__info{
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.adobe__img{
    display: flex;
    justify-content: space-between;
}

.portfolio{
    background: #F6F6F6;
    padding-top: 112px;
    padding-bottom: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.portfolio__title{
    margin-bottom: 47px;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.first__img{
    margin-top: 100px;
    margin-bottom: 45px;
}


.portfolio__img{
    width: 100%;
    background-repeat: no-repeat;
}


.portfolio__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
    opacity: 0.85;
    transition: all 0.3s ease;
}

.portfolio__link:hover{
    opacity: 1;
    color: #000;

}

.footer{
    display: flex;
   justify-content: center;
   padding-top: 115px;
   padding-bottom: 110px;
}

.footer__all{
    width: 340px;
    text-align: center;
    justify-content: center;
}

.footer__title{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.footer__info{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin-bottom: 30px;
}

.footer__button{
    margin-bottom: 91px;
    padding: 13px 30px;
    background: #070707;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12%;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    font-weight: 700;
}

.footer__link{
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.footer__last{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}